<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:fragment="site-head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="/js/main.js"></script>
    <script src="/js/changeLanguage.js"></script>
    <script src="/js/addToCart.js"></script>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" href="/images/Site-Tab-Logo-2.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/root.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header-styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer-styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/>

    <title>EpicByte</title>
</head>

<body>
    <header th:fragment="site-navigation">
        <div class="header-container">
            <div class="top-header-container">
                <div class="top-header">
                    <!-- LOGO IMAGE -->
                    <div class="header-left">
                        <a href="/">
                            <img src="/images/Site-Logo-Full-2.png" type="image/png" alt="Site logo">
                        </a>
                    </div>
                    <!-- EO: LOGO IMAGE -->

                    <!-- SEARCH FORM -->
                    <div class="search-form">
                        <form th:method="GET"
                              th:action="@{/search}"
                              class="search">

                            <input th:name="query"
                                   type="text"
                                   class="search-input form-floating"
                                   th:placeholder="#{search.placeholder.text}"
                                   name="query">

                            <button type="submit"
                                    class="search-icon">

                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- EO: SEARCH FORM -->

                    <div class="header-right">
                        <!-- SHOPPING CART BUTTON -->
                        <div class="shopping-cart">
                            <div class="shopping-cart-count">
                                <p th:unless="${session.numItems}" class="cart-item-count">0</p>
                                <p th:utext="${session.numItems}" class="cart-item-count"></p>
                            </div>
                            <a type="button" class="shopping-cart-button" aria-expanded="false" href="/user/cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                        <!-- EO: SHOPPING CART BUTTON -->

                        <span class="vertical-line"></span>

                        <!-- USER MENU BUTTON -->
                        <div class="btn-group header-user-menu">
                            <button type="button" class="header-user-menu-button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <div>
                                    <li><a th:text="#{register.text}" sec:authorize="isAnonymous()" class="dropdown-item" href="/register"></a></li>
                                    <li><a th:text="#{login.text}" sec:authorize="isAnonymous()" class="dropdown-item" href="/login"></a></li>

                                    <th:block sec:authorize="!hasRole('ADMIN')">
                                        <li><a th:text="#{profile.text}" sec:authorize="isAuthenticated()" class="dropdown-item" href="/user/profile"></a></li>
                                        <li><a th:text="#{orders.text}" sec:authorize="isAuthenticated()" class="dropdown-item" href="/user/orders"></a></li>
                                    </th:block>

                                    <form sec:authorize="isAuthenticated()"
                                          th:method="POST"
                                          th:action="@{/logout}">
                                        <input type="submit" class="dropdown-item" th:value="#{logout.text}">
                                    </form>
                                </div>

                                <!-- USER MENU BUTTON - MODERATOR SETTINGS -->
                                <div sec:authorize="hasAnyRole('MODERATOR', 'ADMIN')">
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a th:text="#{add.book.text}" class="dropdown-item" href="/moderator/product/add/book"></a></li>
                                    <li><a th:text="#{add.textbook.text}" class="dropdown-item" href="/moderator/product/add/textbook"></a></li>
                                    <li><a th:text="#{add.music.text}" class="dropdown-item" href="/moderator/product/add/music"></a></li>
                                    <li><a th:text="#{add.movie.text}" class="dropdown-item" href="/moderator/product/add/movie"></a></li>
                                    <li><a th:text="#{add.toy.text}" class="dropdown-item" href="/moderator/product/add/toy"></a></li>
                                    <li><a th:text="#{view.orders.text}" class="dropdown-item" href="/moderator/orders"></a></li>

                                    <li sec:authorize="hasRole('ADMIN')"><a th:text="#{manage.privileges.text}" class="dropdown-item" href="/admin/manage-privileges"></a></li>
                                </div>
                                <!-- EO: USER MENU BUTTON - ADMIN SETTINGS -->
                            </ul>
                        </div>
                        <!-- EO: USER MENU BUTTON -->

                        <div class="ml-auto mr-0">
                            <img class="en-lang-btn" src="/images/Flag-UK-pretty.svg" style="cursor: pointer;" width="20" height="20" onclick="changeLanguage('en')">
                            <img class="bg-lang-btn" src="/images/Flag-BG-pretty.svg" style="cursor: pointer;" width="20" height="20" onclick="changeLanguage('bg')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-header-container">
                <div class="bottom-header">
                    <div class="btn-group categories-dropdown">
                        <!-- CATEGORIES MENU BUTTON -->
                        <button type="button" class="categories-button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i> <span th:text="#{categories.text}"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a th:text="#{books.text}" class="dropdown-item" href="/books"></a></li>
                            <li><a th:text="#{textbooks.text}" class="dropdown-item" href="/textbooks"></a></li>
                            <li><a th:text="#{music.text}" class="dropdown-item" href="/music"></a></li>
                            <li><a th:text="#{movies.text}" class="dropdown-item" href="/movies"></a></li>
                            <li><a  th:text="#{toys.text}" class="dropdown-item" href="/toys"></a></li>
                            <div style="display: none">
                                <li><hr class="dropdown-divider"></li>
                                <li><a th:text="#{add.product.text}" class="dropdown-item" href="/products/add-product"></a></li>
                                <li><a th:text="#{view.open.orders.text}" class="dropdown-item" href="#"></a></li>
                            </div>
                        </ul>
                        <!-- EO: CATEGORIES MENU BUTTON -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- EO: BREADCRUMBS -->
    <div class="breadcrumb-container" th:fragment="breadcrumbs">
        <nav class="breadcrumb-row" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li th:each="breadcrumb : ${breadcrumbs.entrySet()}"
                    th:classappend="${breadcrumbStat.last} ? 'active' : ''"
                    aria-current="${breadcrumbStat.last} ? 'page' : null">

                    <a th:if="${!breadcrumbStat.last}" th:href="${breadcrumb.value}" th:text="${breadcrumb.key}"></a>
                    <span th:if="${breadcrumbStat.last}" th:text="${breadcrumb.key}"></span>

                    <!-- FontAwesome chevron icon -->
                    <i th:unless="${breadcrumbStat.last}" class="fas fa-chevron-right px-2"></i>
                </li>
            </ol>
        </nav>
    </div>
    <!-- EO: BREADCRUMBS -->
</body>

<footer th:fragment="site-footer">
    <div class="footer-container">
        <div class="footer-container-text">
            <h1 th:text="#{epicbyte.all.capitals.text}"></h1>

            <p th:text="#{footer.text}"></p>
        </div>

        <div class="footer-container-socials">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <p class="footer-container-privacy">
            <a href="/privacy" th:text="#{privacy.text}"></a> — <a href="/terms-and-conditions" th:text="#{terms.and.conditions.text}"></a> — © 2024 <span th:text="#{all.rights.reserved.text}"></span>
        </p>

    </div>
</footer>

</html>