<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
    <header th:replace="~{fragments/components :: site-navigation}"></header>

    <div class="page-container">
        <div class="product-details-container">
            <div th:replace="~{fragments/components :: breadcrumbs}"></div>

            <h1 th:if="${emptyCart}" th:text="#{cart.is.empty.text}"></h1>

            <div th:unless="${emptyCart}" class="product-container cart-container">
                <div class="cart-container-items-container">
                    <form th:method="POST"
                          th:action="@{/user/cart/checkout}"
                          th:object="${orderAddressDTO}"
                          class="register-form-input needs-validation">

                        <div class="form-floating mb-3">
                            <input th:name="city"
                                   th:field="*{city}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   class="form-control"
                                   id="city"
                                   placeholder="city">

                            <label th:text="#{city.text}" for="city"></label>

                            <small th:class="text-danger"
                                   th:if="${#fields.hasErrors('city')}"
                                   th:errors="*{city}"></small>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:name="neighborhood"
                                   th:field="*{neighborhood}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   class="form-control"
                                   id="neighborhood"
                                   placeholder="neighborhood">

                            <label th:text="#{neighborhood.text}" for="neighborhood"></label>

                            <small th:class="text-danger"
                                   th:if="${#fields.hasErrors('neighborhood')}"
                                   th:errors="*{neighborhood}"></small>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:name="address"
                                   th:field="*{address}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   class="form-control"
                                   id="address"
                                   placeholder="address">

                            <label th:text="#{address.text}" for="address"></label>

                            <small th:class="text-danger"
                                   th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></small>
                        </div>

                        <div class="cart-checkout-button-wrapper">
                            <button type="submit"
                                    class="checkout-button"
                                    th:text="#{checkout.text}">
                            </button>
                        </div>
                    </form>
                </div>

                <table class="cart-totals-table cart-totals-table-checkout">
                    <tbody>
                    <tr>
                        <th th:text="#{product.total.text}">Product total</th>
                        <td th:text="${cartItemList.totalPrice} + ' ' + #{currency}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{delivery.text}">Delivery</th>
                        <td th:text="'4,99 ' + #{currency}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th th:text="#{total.text}">Total</th>
                        <td th:text="${cartItemList.totalPrice + 4.99} + ' ' + #{currency}"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>

<footer th:replace="~{fragments/components :: site-footer}"></footer>

</html>