<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
    <header th:replace="~{fragments/components :: site-navigation}"></header>

    <div class="page-container">
        <div class="product-details-container">
            <div th:replace="~{fragments/components :: breadcrumbs}"></div>

            <div class="product-container cart-container">
                <div class="cart-container-items-container">
                    <div class="cart-row cart-header">
                        <div class="cart-cell1" th:text="#{product.text}"></div>
                        <div class="cart-cell2" th:text="#{item.price.text}"></div>
                        <div class="cart-cell3" th:text="#{quantity.text}"></div>
                        <div class="cart-cell4" th:text="#{total.price.text}"></div>
                        <div class="cart-cell5"></div>
                        <div class="cart-cell-responsive" th:text="#{products.text}"></div>
                    </div>

                    <div class="cart-row cart-item" th:each="orderItem : ${orderItems}">
                        <div class="cart-cell1">
                            <a class="cart-row-image-container" th:href="@{/{linkType}/details/{id}(linkType=${#strings.toLowerCase(orderItem.productType)}, id=${orderItem.productId})}">
                                <img th:src="${orderItem.productImageUrl}" th:alt="${orderItem.productName}">
                            </a>
                            <div class="cart-row-name" th:text="${orderItem.productName}" ></div>
                        </div>
                        <div class="cart-cell2">
                            <div class="cart-row-single-price-box" th:text="${orderItem.productPrice} + ' ' + #{currency}"></div>
                        </div>
                        <div class="cart-cell3">
                            <div class="cart-row-quantity" th:text="${orderItem.quantity}"></div>
                        </div>
                        <div class="cart-cell4">
                            <div class="cart-row-total-price-box" th:text="${orderItem.totalProductPrice} + ' ' + #{currency}"></div>
                        </div>
                    </div>
                </div>

                <div class="cart-container-sidebar-wrapper">
                    <div class="cart-totals">
                        <table class="cart-totals-table">
                            <tfoot>
                                <tr>
                                    <th th:text="#{total.text}"></th>
                                    <td th:text="${totalCost} + ' ' + #{currency}"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer th:replace="~{fragments/components :: site-footer}"></footer>

</html>