<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
    <header th:replace="~{fragments/components :: site-navigation}"></header>

    <div class="page-container">
        <div class="orders-page-container">
            <div th:replace="~{fragments/components :: breadcrumbs}"></div>

            <h1 th:if="${noUserOrders}" th:text="#{no.orders.text}" style="text-align: center"></h1>

            <div th:unless="${noUserOrders}" class="orders-container">
                <div th:each="orderItem : ${userOrders}" class="order-container">
                    <div class="order-text">
                        <table>
                            <tbody>
                                <tr>
                                    <th><i class="far fa-clipboard"></i></th>
                                    <td th:text="#{order.number.text}"></td>
    <!--                                <th th:utext="#{order.number.text}"></th>-->
                                    <td th:text="${orderItem.id}"></td>
                                </tr>
                                <tr>
                                    <th><i class="far fa-clock"></i></th>
                                    <td th:text="#{order.date.text}"></td>
    <!--                                <th th:text="#{order.date.text}"></th>-->
                                    <td th:text="${orderItem.orderDate}"></td>
                                </tr>
                                <tr>
                                    <th><i class="far fa-money-bill-alt"></i></th>
                                    <td th:text="#{price.text}"></td>
    <!--                                <th th:text="#{order.price.text}"></th>-->
                                    <td th:text="${orderItem.totalCost} + ' ' + #{currency}"></td>
                                </tr>
                                <tr th:if="${orderItem.isComplete}">
                                    <th><i class="fas fa-check"></i></th>
                                    <td th:text="#{status.text}"></td>
    <!--                                <th th:text="#{order.status.text}"></th>-->
                                    <td th:text="#{order.is.complete.text}"></td>
                                </tr>
                                <tr th:unless="${orderItem.isComplete}">
                                    <th><i class="fas fa-search"></i></th>
                                    <td th:text="#{status.text}"></td>
    <!--                                <th th:text="#{order.status.text}"></th>-->
                                    <td th:text="#{order.is.pending.text}"></td>
                                </tr>
                                <tr>
                                    <th><i class="fas fa-map-marker-alt"></i></th>
                                    <td th:text="#{address.text}"></td>
    <!--                                <th th:text="#{order.address.text}"></th>-->
                                    <td th:text="${orderItem.city} + ', ' + ${orderItem.neighborhood} + ', ' + ${orderItem.address}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="order-button-wrapper">
                        <form sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')"
                              th:method="POST"
                              th:action="@{/moderator/order/complete/{id}(id=${orderItem.id})}"
                              th:unless="${orderItem.isComplete}"
                              class="order-button-container">
                            <input type="submit" th:value="#{complete.order.text}">
                        </form>
                        <form th:method="GET"
                              th:action="@{/order/details/{id}(id=${orderItem.id})}"
                              class="order-button-container">
                            <input type="submit" th:value="#{view.order.text}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<footer th:replace="~{fragments/components :: site-footer}"></footer>
</html>