<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
    <header th:replace="~{fragments/components :: site-navigation}"></header>

    <div class="page-container">
        <div class="products-container">
            <!--        <i class="fas fa-cart-plus"></i> &lt;!&ndash; add cart -->
            <!--        <i class="far fa-heart"></i> &lt;!&ndash; empty heart -->
            <!--        <i class="fas fa-heart"></i> &lt;!&ndash; full heart -->
            <div th:replace="~{fragments/components :: breadcrumbs}"></div>

            <div class="products-list-container">
                <div class="products-list header">
                    <h1 class="products-list-name" th:text="${productType}"></h1>
                    <span class="products-list-name-underline"></span>

                    <div class="products-list-header-sorting">
                        <form th:method="GET"
                              th:action="@{'/products/' + ${linkType}}"
                              class="header-sorting-sorting-options">
                            <label th:text="#{sort.by.menu.text} + ' '"></label>
                            <select name="sort" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
                                <option th:text="#{select.order.text}" value=""></option>
                                <option th:text="#{alphabetical.text}" value="alphabetical"></option>
                                <option th:text="#{lowest.price.text}" value="lowest"></option>
                                <option th:text="#{highest.price.text}" value="highest"></option>
                            </select>
                        </form>

                        <nav class="sorting-page-navigation" aria-label="...">
                            <ul class="pagination">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>

                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>

                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="#">4</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="products-list all-items-wrapper">
                    <ul class="products-list all-items">

                        <li th:each="product : ${productList}" class="products-item">
                            <div class="product-item info-container">
<!--                                <a class="product-item info" th:href="@{/product/details/{id}(id=${product.id})}">-->
                                <a class="product-item info" th:href="@{/product/details/{linkType}/{id}(linkType=${linkType}, id=${product.id})}">

                                    <div class="product-item-image">
                                        <img th:src="${product.productImageUrl}" alt="bookImage">
                                    </div>

                                    <div class="product-item details">
                                        <div class="product-item details-names">
                                            <p th:text="${product.productName}" class="product-item details-names book-name">Brothers Karamazov</p>
                                            <p th:if="${linkType == 'books' || linkType == 'textbooks'}"
                                               th:text="${product.authorName}" class="product-item details-names author-name">Author: Fyodor Dostoyevski</p>
                                        </div>

                                        <div class="product-item details-additional">
                                            <span class="product-price-wrapper">
                                                <span class="product-price" th:text="${#strings.substring(product.productPrice.toString(), 0, product.productPrice.toString().indexOf('.'))}"></span>
                                                <span class="product-price-precision" th:text="',' + ${#strings.contains(product.productPrice.toString(), '.') ? #strings.substring(product.productPrice.toString(), product.productPrice.toString().indexOf('.') + 1) : '00'}">Decimal Part</span>
                                                <span class="product-price-currency"> €</span>
                                            </span>

                                            <div class="product-item buttons">
                                                <form th:method="GET" th:action="@{/users/cart}">
                                                    <input type="hidden" th:value="${product.id}" name="productId">
                                                    <button class="item-add-to-cart-button" type="submit"><i class="fas fa-cart-plus"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
<!--                        &lt;!&ndash; EO: PLACEHOLDER ELEMENT &ndash;&gt;-->
<!--                        <li class="products-item">-->
<!--                            <div class="product-item info-container">-->
<!--                                <a class="product-item info" href="#">-->
<!--                                    <div class="product-item-image">-->
<!--                                        <img src="/img/Book-image-1.jpg" alt="bookImage">-->
<!--                                    </div>-->

<!--                                    <div class="product-item details">-->
<!--                                        <div class="product-item details-names">-->
<!--                                            <p class="product-item details-names book-name">Brothers Karamazov</p>-->
<!--                                            <p class="product-item details-names author-name">Author: Fyodor Dostoyevski</p>-->
<!--                                        </div>-->

<!--                                        <div class="product-item details-additional">-->
<!--                                                <span class="product-price">250<span class="product-price-precision">,00</span>-->
<!--                                                    <span class="product-price-currency"> €</span>-->
<!--                                                </span>-->

<!--                                            <div class="product-item buttons">-->
<!--                                                <form method="POST">-->
<!--                                                    &lt;!&ndash;                                    <input type="hidden" th:value="${product.id}" name="productId">&ndash;&gt;-->
<!--                                                    <button class="item-favourite-button"><i class="far fa-heart"></i></button>-->
<!--                                                </form>-->

<!--                                                <form method="POST">-->
<!--                                                    &lt;!&ndash;                                    <input type="hidden" th:value="${product.id}" name="productId">&ndash;&gt;-->
<!--                                                    <button class="item-add-to-cart-button"><i class="fas fa-cart-plus"></i></button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        &lt;!&ndash; EO: PLACEHOLDER ELEMENT &ndash;&gt;-->
                    </ul>
                </div>

                <div class="products-list-footer-sorting">
                    <div class="products-list page-menu">
                        <button onclick="topFunction()"
                                id="scrollToTopBtn"
                                title="Go to top" th:text="#{scroll.to.top.text}"><i class="fas fa-chevron-up"></i></button>
                    </div>

                    <nav class="header-sorting-page-navigation" aria-label="...">
                        <ul class="pagination">
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>

                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">4</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </div>

</body>
<footer th:replace="~{fragments/components :: site-footer}"></footer>
</html>