<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
<header th:replace="~{fragments/components :: site-navigation}"></header>

<div class="page-container">

    <div class="product-update-container" style="padding: var(--page-padding)">
        <div class="product-update-form">
            <form th:method="post"
                  th:action="@{'/moderator/product/add/' + ${linkType}}"
                  th:object="${product}"
                  class="product-update-form-input needs-validation">

                <h1 th:text="#{add.new.text} + ' ' + ${productType}"></h1>

                <div class="form-group" th:each="entry : ${fieldsMap}">
                    <!-- STRING input field -->
                    <th:block th:if="${entry.fieldType == 'String'}"th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>
                        <input type="text" th:id="${entry.fieldName}" th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control" />
                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>

                    <!-- INTEGER input field -->
                    <th:block th:if="${entry.fieldType == 'Integer'}" th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>
                        <input type="number" th:id="${entry.fieldName}" th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control"/>
                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>

                    <!-- DOUBLE input field -->
                    <th:block th:if="${entry.fieldType == 'Double'}" th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>
                        <input type="number" step="0.01" th:id="${entry.fieldName}" th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control" />
                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>

                    <!-- BIGDECIMAL input field -->
                    <th:block th:if="${entry.fieldType == 'BigDecimal'}" th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>
                        <input type="number" step="0.01" th:id="${entry.fieldName}" th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control" />
                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>

                    <!-- DATE input field -->
                    <th:block th:if="${entry.fieldType == 'LocalDate'}" th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>
                        <input type="date" th:id="${entry.fieldName}" th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control" />
                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>

                    <!-- ENUM drop-down field -->
                    <th:block th:if="${entry.fieldType == 'Enum'}" th:with="dynamicField=${entry.fieldName}">
                        <label th:for="${entry.fieldName}" th:text="${entry.prettyFieldName}"></label>

                        <select th:name="${entry.fieldName}" th:errorclass="is-invalid" class="form-control">
                            <option th:text="#{select.text} + ' ' + ${entry.prettyFieldName}" value="">Select option</option>
                            <th:block th:each="enum : ${enumsList}">
                                <option name="language"
                                        th:value="${enum}"
                                        th:text="${enum}"
                                ></option>
                            </th:block>
                        </select>

                        <small th:if="${#fields.hasErrors(entry.fieldName)}" th:errors="*{__${dynamicField}__}" th:class="text-danger"></small>
                    </th:block>
                </div>

                <div class="col-12">
                    <input class="btn btn-primary register-button" type="submit" th:value="#{add.text} + ' ' + ${productType}">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{fragments/components :: site-footer}"></footer>
</html>