<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/components :: site-head}"></head>

<body>
    <header th:replace="~{fragments/components :: site-navigation}"></header>

    <div class="page-container">
        <div class="products-container">
            <div th:replace="~{fragments/components :: breadcrumbs}"></div>

            <div class="products-list-container">
                <div class="products-list header">
                    <h1 class="products-list-name" th:text="${productType}"></h1>
                    <span class="products-list-name-underline"></span>

                    <div class="products-list-header-sorting">
                        <form th:method="GET"
                              th:action="@{'/' + ${linkType}}"
                              class="header-sorting-sorting-options">
                            <label th:text="#{sort.by.menu.text} + ' '"></label>
                            <select name="sort" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
                                <option th:text="#{latest.text}" value="default" th:selected="${selectedSortingOption == 'default'}"></option>
                                <option th:text="#{alphabetical.text}" value="alphabetical" th:selected="${selectedSortingOption == 'alphabetical'}"></option>
                                <option th:text="#{lowest.price.text}" value="lowest" th:selected="${selectedSortingOption == 'lowest'}"></option>
                                <option th:text="#{highest.price.text}" value="highest" th:selected="${selectedSortingOption == 'highest'}"></option>
                            </select>
                        </form>

                        <nav class="sorting-page-navigation" aria-label="...">
                            <ul class="pagination">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>

                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>

                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="#">4</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="products-list all-items-wrapper">
                    <ul class="products-list all-items">

                        <li th:each="product : ${productList}" class="products-item">
                            <div class="product-item info-container">
<!--                                <a class="product-item info" th:href="@{/product/details/{id}(id=${product.id})}">-->
                                <a class="product-item info" th:href="@{/{linkType}/details/{id}(linkType=${productLinkType}, id=${product.id})}">
                                    <div th:if="${product.isNewProduct}" class="new-item-tag">
                                        <p th:text="#{new.text}"></p>
                                    </div>
                                    <div class="product-item-image">
                                        <img th:src="${product.productImageUrl}" alt="bookImage">
                                    </div>

                                    <div class="product-item details">
                                        <div class="product-item details-names">
                                            <p th:text="${product.productName}" class="product-item details-names book-name">Brothers Karamazov</p>
                                            <p th:if="${linkType == 'books' || linkType == 'textbooks'}"
                                               th:text="${product.authorName}" class="product-item details-names author-name">Author: Fyodor Dostoyevski</p>
                                        </div>

                                        <div class="product-item details-additional">
                                            <span class="product-price-wrapper">
                                                <span class="product-price" th:text="${#strings.substring(product.productPrice.toString(), 0, product.productPrice.toString().indexOf('.'))}"></span>
                                                <span class="product-price-precision" th:text="',' + ${#strings.contains(product.productPrice.toString(), '.') ? #strings.substring(product.productPrice.toString(), product.productPrice.toString().indexOf('.') + 1) : '00'}">Decimal Part</span>
                                                <span th:text="' ' + #{currency}" class="product-price-currency"></span>
                                            </span>

                                            <div class="product-item buttons">
                                                <button type="submit"
                                                        class="item-add-to-cart-button"
                                                        id="item-add-to-cart-button"
                                                        th:data-product-id="${product.id}"
                                                        th:data-product-type="${product.productType}"
                                                        th:data-success-message="#{added.to.cart.success}"
                                                        th:data-fail-message="#{added.to.cart.fail}">
                                                    <i class="fas fa-cart-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="products-list-footer-sorting">
                    <div class="products-list page-menu">
                        <button onclick="topFunction()"
                                id="scrollToTopBtn"
                                title="Go to top" th:text="#{scroll.to.top.text}"><i class="fas fa-chevron-up"></i></button>
                    </div>

                    <nav class="header-sorting-page-navigation" aria-label="...">
                        <ul class="pagination">
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>

                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">4</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </div>

</body>
<footer th:replace="~{fragments/components :: site-footer}"></footer>
</html>